// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-title {
  font-size: 4rem
}

.blog-subtitle {
  font-size: 1.1rem;
  color: #999;
}

.blog-masthead {
  border-bottom: .05rem solid #eee;
}

#error_explanation {
  color: red;
}