// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.product-image {
  width: 100%;
}

.nav-link a {
  color: gray;
}

.merch-navbar .nav-link {
  color: gray;
}

.merch-navbar .nav-link:hover {
  text-decoration: underline;
}

.merch-navbar .active {
  color: black;
  text-decoration: underline;
}
