<div class='col-sm-12 col-lg-4 my-4'>
  <div class="wrapper-div">  
    <%= image_tag product.main_image, class: "img-fluid product-image" %>
    
    <h3><%= link_to product.name, product %></h3>
  </div>  
</div>
