<div class="album">
  <div class="container">

    <p id="notice"><%= notice %></p>

    <h1>ALBUMS</h1>

    <%= render partial: 'product', collection: @products %>

    <br>

    <%= link_to 'New Product', new_product_path %>
  </div>
</div>  