<div class="container-fluid mt-5">

  <%= render partial: 'product_nav' %>
 
    <div class="row mx-auto">
      <p id="notice"><%= notice %></p>

      <%= render partial: 'product', collection: @products %>

    </div>
    <br>    

    <%= link_to 'New Product', new_product_path %>

</div>
